@media (min-width: 768px) {
  .header {
    background: linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%)),
      url("../images/bg-pattern-intro-mobile.svg") top 50% left 30%/250%
        no-repeat;
    height: 38rem;
    .nav {
      padding: 2rem 4rem;
      justify-content: start;
      gap: 0 1rem;
      &-menu {
        display: none;
      }
      &-close {
        display: none;
      }
      .big-screen-nav-links {
        display: flex;
        gap: 1rem;
        padding: 1.5rem 2.5rem;
        border-radius: $radius-1;
        font-family: "Overpass", sans-serif;
        font-weight: 700;
        .big-screen-link {
          div {
            position: relative;
            display: flex;
            align-items: center;
            gap: 0 0.5rem;
            button {
              background: transparent;
              border: none;
              color: lighten($cl-Grayishblue, 5);
              transition: $transition;
              font-weight: 700;
              &:hover {
                text-decoration: underline;
                color: $cl-Grayishblue;
              }
            }
          }
        }
      }
      .big-screen-menu-sign {
        display: flex;
        margin-left: auto;
        align-items: center;
        font-family: "Overpass", sans-serif;
        gap: 0 1rem;
        a {
          color: $cl-White;
          transition: $transition;
        }
      }
    }
    .big-nav-links {
      visibility: hidden;
      position: absolute;
      background: $cl-White;
      padding: 1.2rem 1rem;
      width: 8rem;
      border-radius: $radius-2;
      transform: translate(-25%, 30%);
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.364);
      transition: transform 200ms, visibility 50ms;
      a {
        font-family: "Ubuntu", sans-serif;
        font-size: 0.8rem;
        margin: 0.3rem 0;
        transition: font-weight 250ms liner;
        font-weight: 300;
        color: $cl-Verydarkblackblue;
        &:hover {
          font-weight: 900;
        }
      }
    }
    &-content {
      margin-top: 3rem;
      h1 {
        font-size: 2.7rem;
      }
    }
  }
  .editor-section {
    margin-bottom: 0;
    .editor-header {
      margin-bottom: -4rem;
    }
    .editor-container {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr;
      padding: 0 2rem;
      .editor-img {
        justify-self: end;
        order: 1;
        .editor-img-mobile {
          display: none;
        }
        .editor-img-desktop {
          display: block;
          height: 33rem;
          margin-right: -12rem;
        }
      }
      .editor-articles {
        text-align: left;
        align-self: center;
        padding-left: 2rem;
        padding-top: 4rem;
        .article {
          h2 {
            font-size: 1.1rem;
          }
          p {
            font-size: 0.7rem;
          }
        }
      }
    }
  }

  .phone-section {
    background-size: 90%;
    background-position: bottom 15% left -220%;
    .phone-img {
      left: 0;
      top: 0;
      transform: translate(0%, -5%);
      width: 50%;
    }
    .phone-article {
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: left;
      align-items: center;
      padding: 6rem 5rem;
      h1 {
        font-size: 1.8rem;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }
  .laptop-container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    .laptop-img {
      margin-bottom: 2rem;
      justify-self: flex-start;
      .mobile {
        display: none;
      }
      .desktop {
        display: block;
        height: 30rem;
        margin-left: -10.5rem;
      }
    }
    .laptop-articles {
      text-align: left;
      .article {
        padding-right: 2rem;
        .article-header {
          font-size: 1.3rem;
        }
        p {
          line-height: 1.7;
          font-weight: 300;
          font-size: 0.7rem;
        }
      }
    }
  }

  .footer {
    padding: 4rem 3rem;
    padding-bottom: 1rem;
    text-align: left;
    &-container {
      .footer-logo {
        margin: 0;
        // height: 4rem;
      }
      align-items: start;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 3rem;
    }
  }
}
@media (min-width: 1024px) {
  .header {
    .nav {
      padding: 4rem 10rem;
      &-menu {
        display: none;
      }
    }
    &-content {
      h1 {
        font-size: 3.5rem;
      }
      p {
        font-size: 1.5rem;
      }
    }
  }
  .editor-section {
    .editor-header {
      font-size: 2rem;
    }
    .editor-container {
      padding: 0 5rem;
      .editor-img {
        .editor-img-desktop {
          height: 47rem;
          margin-right: -18rem;
        }
      }
      .editor-articles {
        text-align: left;
        align-self: center;
        padding: 4rem 0 0 2rem;
        .article {
          h2 {
            font-size: 1.5rem;
          }
          p {
            font-size: 0.9rem;
            line-height: 1.5;
          }
        }
      }
    }
  }

  .phone-section {
    .phone-img {
      transform: translate(25%, -10%);
    }
    .phone-article {
      padding: 6rem 9rem;
      h1 {
        font-size: 2.3rem;
      }
      p {
        font-size: 1.1rem;
      }
    }
  }
  .laptop-container {
    .laptop-img {
      .desktop {
        height: 50rem;
        margin-left: -17.5rem;
      }
    }
    .laptop-articles {
      gap: 2rem;
      .article {
        padding-right: 7rem;
        .article-header {
          font-size: 2rem;
        }
        p {
          font-size: 1.1rem;
        }
      }
    }
  }
}
@media (min-width: 1240px) {
  .footer {
    &-container {
      .footer-logo {
        margin: 0 auto;
      }
    }
  }
}
