// ## Colors
// ### Primary
$cl-Lightred: hsl(356, 100%, 66%); //(CTA text)
$cl-Verylightred: hsl(355, 100%, 74%); //(CTA hover background
$cl-Verydarkblue: hsl(208, 49%, 24%); //(headings)
// ### Neutral
$cl-White: hsl(0, 0%, 100%); // (text)
$cl-Grayishblue: hsl(240, 2%, 79%); // (footer text)
$cl-Verydarkgrayishblue: hsl(207, 13%, 34%); //(body copy)
$cl-Verydarkblackblue: hsl(240, 10%, 16%); //(footer background)

// ### Gradient
// Background gradient - Intro/CTA mobile nav:
$gr-backgroundGradientnav: linear-gradient(
  hsl(13, 100%, 72%),
  hsl(353, 100%, 62%)
);
// Background gradient - body:
$gr-backgroundGradientbody: linear-gradient(
  hsl(237, 17%, 21%),
  hsl(237, 23%, 32%)
);

// other variables
$radius-1: 5px;
$radius-2: 10px;
$radius-3: 25px;
$radius-4: 75px;
$transition: all 250ms linear;
