#btn {
  padding: 0.65rem 0.95rem;
  border-radius: $radius-3;
  border: 1px solid white;
  font-weight: bold;

  font-family: "Ubuntu", sans-serif;
  margin: 0 0.3rem;
}
.header-start-btn {
  @extend #btn;
  background: $cl-White;
  color: $cl-Lightred;
}
.header-learnmore-btn {
  @extend #btn;
  background: transparent;
  color: $cl-White;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}
.nav-signup-btn {
  @extend #btn;
  background: $gr-backgroundGradientnav;
  color: white;
  padding: 0.8rem 1.8rem;
}
.big-screen-nav-signup-btn {
  @extend #btn;
  background: $cl-White;
  color: $cl-Lightred;
  font-weight: 900;
  padding: 0.7rem 1.8rem;
}
